# Fichiers et dossiers Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.eggs/
*.log
*.pot
*.pyc

# Environnements virtuels
venv/
env/
.venv/
.env/

# Fichiers et dossiers spécifiques à Rasa
models/
.rasa/
rasa_env/

# Fichiers de configuration spécifiques
.env
*.env

# Fichiers de logs
*.log

# Fichiers et dossiers JetBrains IDE (PyCharm, IntelliJ)
.idea/

# Fichiers et dossiers VS Code
.vscode/

# Fichiers de système
.DS_Store
Thumbs.db

# Fichiers de déploiement Docker
docker-compose.yml
Dockerfile

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Ignore environments
iaChatBot64/
